     table {
            background-color: yellow;
            /* border-collapse: collapse; */
            margin: 20px auto;
            font-family: Arial, sans-serif;
        }
        table, th, tr, td {
            border: 1px solid black;
        }
        th, td {
            padding: 8px 12px;
            text-align: center;
        }
        caption {
            font-size: 1.2em;
            font-weight: bold;
            margin-bottom: 8px;
        }
